@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --dark-grey: #0e0e11;
    --light-grey: #2B2D37;
    --light-pink: rgb(242, 243, 255);
}
button:focus, input:focus {
    outline: none;
}

body {
    font-family: 'Inter', 'sans-serif';
    font-weight: 500;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0;
}
main {
    background-color: #fff;
    width: 50%;
    min-width: calc(370rem / 16);
    height: auto;
    padding: calc(64rem / 16);
    border-radius: calc(12rem / 16);
}

.heading {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    h1 {
        line-height: calc(68rem / 16);
        font-size: calc(56rem / 16);
        font-weight: 800;
        margin: 0 1rem 0 0;
    }

    button {
        height: 56px;
        width: 56px;
        padding: 1rem;
        background: var(--light-pink);
        border: 1px solid rgb(235, 235, 235);
        border-radius: calc(6rem / 16);
        
        img {
            width: calc(24rem / 16);
        }
    }
    button:hover {
        transition: 0.2s;
        padding: calc(13rem/16);
        
        img {
            transition: 0.2s;
            width: calc(30rem / 16);
        }
    }
    button:active {
        transition: 0.1s;
        padding: calc(16rem/16);
        
        img {
            transition: 0.1s;
            width: calc(24rem / 16);
        }
    }
    button:focus {
        border: 2px solid #710083;
    }
}

.input-block {
    margin-bottom: calc(32rem / 16);

    h6 {
        color: rgb(87, 87, 103);
        font-size: 1rem;
        font-weight: 700;
        line-height: calc(19rem / 16);
    }

    input {
        width: 100%;
        border: none;
        border-bottom: 1px black solid;
        margin-bottom: 0.7rem;
    }
    input::placeholder {
        color: rgb(255, 102, 0);
        opacity: 1;
    }
    input:focus {
        width: 100%;
        border: none;
        border-bottom: 3px rgb(109, 12, 161) solid;
        
    }
    .enter-btn {
        background-color: var(--light-pink);
        border: 1px solid rgb(235, 235, 235);
        border-radius: 6px;
        padding: calc(8rem / 16);
        font-weight: 500;

    }
    .enter-btn:hover {
        transition: 0.1s;
        background-color: #e8c1ff71;
    }
    .enter-btn:active {
        transition: 0.1s;
        background-color: var(--light-pink);
        
    }
    .enter-btn:focus {
        border: 2px solid #710083;
    }
}

.task-list {
    ul {
        list-style-type: none;
        padding: calc(5rem/16);
        display: flex;
        flex-direction: column;
    }
}

.task-list__item {
    background-color: var(--light-pink);
    margin: calc(10rem / 16) calc(5rem / 16);
    padding: calc(7rem / 16);
    border: 1px solid rgb(235, 235, 235);
    border-radius: calc(6rem / 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
       margin-bottom: 0;
    }
}

.task-btn {
    padding: 0;
    img {
        width: 40px;
        pointer-events: none;
    }
}

@media screen and (max-width: 500px) {
    main {
        padding: 1rem;
        min-width: 280px;
    }
    .heading__name {
        font-size: calc(36rem / 16);
    }
}

